<div id="abc" style="background: url('<%=theme.first_screen.img%>') no-repeat;background-size: 100% 100%;">
	<div id="intro">
		<h1>This is<br /><%- theme.Intro.name %></h1>
		<p><%- theme.Intro.slogan %></p>
		<div><i class="fa fa-hand-o-down first-button"></i></div>
	</div>
</div>